<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Used to download netfx ref assemblies -->
    <add key="roslyntools" value="https://dotnet.myget.org/F/roslyn-tools/api/v3/index.json" />
 </packageSources>
</configuration>
